            <div class="hero__actions hero__actions--os">
              <a
                href="{{WIN_URL}}"
                class="btn btn--win btn--os"
                target="_blank"
                rel="noopener noreferrer"
              >
                <img class="os-icon-img" src="/assets/icons/windows.svg" alt="" aria-hidden="true" />
                <span data-i18n="yt_btn_win">Download for Windows</span>
              </a>

              <a
                href="{{MAC_URL}}"
                class="btn btn--mac btn--os{{MAC_BTN_EXTRA_CLASS}}"
                target="_blank"
                rel="noopener noreferrer"
                {{MAC_DISABLED_ATTR}}{{MAC_TOOLTIP_ATTR}}
              >
                <img class="os-icon-img" src="/assets/icons/apple.svg" alt="" aria-hidden="true" />
                <span data-i18n="{{MAC_BTN_TEXT_KEY}}">Download for macOS</span>
              </a>
            </div>
